* {
    margin: 0;
    padding: 0;
    position: relative;
}

.logo {
    width: 200px;
    height: 200px;
    background-color: #001834;
    border-radius: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    font-weight: bold;
    color: #00a9ff;
    margin: 50px auto;
    text-align: center;
    line-height: 200px;
    top: 50px;
}

.fil {
    width: 150px;
    height: 200px;
    margin: 10px;
    float: left;
    top: 40px;
}

.filtres, .fusions {
    width: 850px;
    margin: 0 auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 40px 0 0 0;

}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}

.imatge {
    width: 130px;
    height: 150px;
    background-image: url(../img/lima.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.superposada {
    width: 130px;
    height: 150px;
    background-image: url(../img/fresa.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

input {
    width: 130px;
    margin: auto;
}

/*-------------filtres--------------*/

.desenfoc .imatge {
    filter: blur(5px);
}

.lluminositat .imatge {
    filter: brightness(2);
}

.contrast .imatge {
    filter:contrast(200%)
}

.ombra .imatge {
    filter: drop-shadow(5px 5px 5px green);
}

.grisos .imatge {
    filter:grayscale(80%)
}

.to-saturacio .imatge {
    filter: hue-rotate(90deg);
}

.invertir .imatge {
    filter: invert(75%);
}

.opacitat .imatge {
    filter: opacity(50%)
}

.saturacio .imatge {
    filter: saturate(200%);
}

.sepia .imatge {
    filter: sepia(100%);
}

/*-------------modes de fusió--------------*/

.multiplicar .superposada {
    mix-blend-mode: multiply;
}

.trama .superposada {
    mix-blend-mode: screen;
}

.superposar .superposada {
    mix-blend-mode: overlay;
}

.enfosquir .superposada {
    mix-blend-mode: darken;
}

.aclarar .superposada {
    mix-blend-mode: lighten;
}

.colormesfosc .superposada {
    mix-blend-mode: color-dodge
}

.colormesclar .superposada {
    mix-blend-mode: color-burn;
}

.llumintensa .superposada {
    mix-blend-mode: hard-light;
}

.llumsuau .superposada {
    mix-blend-mode: soft-light;
}

.diferencia .superposada {
    mix-blend-mode: difference;
}

.exclusió .superposada {
    mix-blend-mode: exclusion;
}

.to .superposada {
    mix-blend-mode: hue;
}

.intensitat .superposada {
    mix-blend-mode: saturation;
}

.color .superposada {
    mix-blend-mode: color;
}

.brillantor .superposada {
    mix-blend-mode: luminosity;
}

/*-----------Tirador-----------*/

input {
    width: 130px;
    margin: auto;
}

input[type=range] {
    appearance: none;
    -webkit-appearance:none;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance:none;
    border: 0px solid black;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: linear-gradient(purple, black);
    box-shadow: 1px 1px 1px grey;
    margin-top: -4px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: grey;
    border-radius: 4px;
    box-shadow: inset 1px 1px 1px black;
}

input[type=checkbox]{
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 12px;
    border: 1px solid black;
    margin: 0 auto;
    background: white;
    border-radius: 6px;
}

input[type=checkbox]:before{
    content:"";
    display: block;
    width: 10px;
    height: 10px;
    background: linear-gradient(purple, black);
    border-radius: 50%;
}

input[type=checkbox]:checked{
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 12px;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 6px;
}

input[type=checkbox]:checked:before{
    position: relative;
    left: 8px;
}

@media screen and (min-width: 360px) and (max-width:480px) {
    body {
      height: 130vh;
      overflow-x: hidden; 
    }
}



